.footer__nav{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.footer__link {
  color: #3F3B6C;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 1000px) {
  .footer__list {
    flex-direction: row;
  }
}