.header {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  background-color: #FFFFFF;
}

.nav {
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
}

.nav__link{
  color: #3F3B6C;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__list {
  display: flex;
  gap: 3rem;
}